/args
/bin
/.kube-secrets
/tmp/*
/dev
/test
/logs

*.html
.vscode
.idea
*.DS_Store
managevm
controller_manager
mcm.out
kubectl
main

# Output of the go coverage tool, specifically when used with LiteIDE
*coverprofile.out*
